@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Lexend, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #fafafa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-family: Zilla Slab, serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.avatar-icon > svg {
  border-radius: 50%;
}
.avatar-icon > img {
  border-radius: 50%;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

div [data-slot='tabList'] {
  overflow-x: auto;
}
